<div class="row justify-content-center">
  <div class="col-lg-6">
    <%= form_with(url: '/search', method: :get, local: true) do |f| %>
      <%= f.label :category %>
      <%= f.select :category, options_for_select([['coffee shops', 'catering.cafe'], ['All dining options', 'catering']]) %>
      <%= f.submit "search" %>
    <% end %>
  </div>
</div>
<% if !@search_results.nil? %>
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div><strong>Search term: <%= params[:category] %></strong></div>
      <div><strong>Search results: <%= @search_results.count %></strong></div>
      <table class="table">
        <tr>
          <th>name</th>
          <th>address</th>
          <th>city</th>
        </tr>
        <% @search_results.each do |result| %>
          <% if !result[:properties][:name].nil? %>
            <tr>
              <td><%= result[:properties][:name] %></td>
              <td><%= "#{result[:properties][:housenumber]} #{result[:properties][:street]}" %></td>
              <td><%= result[:properties][:city] %></td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>
<% end %>
