<div class="row justify-content-center">
  <div class="col-lg-12 d-flex justify-content-center">
    <h1>Find Free Wi-Fi in Boulder</h1>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-lg-6 col-md-8 col-sm-12 d-flex justify-content-center">
    <%= form_with(url: '/search', method: :get, local: true) do |f| %>
      <%= f.select :category, options_for_select([['coffee shops', 'catering.cafe'], ['All restaurant types', 'catering']]) %>
      <%= f.select :conditions, options_for_select([['free internet', 'internet_access.free'], ['dogs', 'dogs.yes']]) %>
      <%= f.text_field :location, placeholder: 'zip code' %>
      <%= f.submit "search" %>
    <% end %>
  </div>
</div>
<% if !@search_results.nil? %>
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div><strong>Search category: <%= params[:category] %></strong></div>
      <div><strong>Search conditions: <%= params[:conditions] %></strong></div>
      <div><strong>Search results: <%= @search_results.count %></strong></div>
      <table class="table">
        <tr>
          <th>name</th>
          <th>address</th>
          <th>city</th>
        </tr>
        <% @search_results.each do |result| %>
          <% if !result[:properties][:name].nil? %>
            <tr>
              <td><%= link_to result[:properties][:name], "http://www.google.com/search?ie=UTF-8&q=#{result[:properties][:formatted]}"
 %></td>
              <td><%= "#{result[:properties][:housenumber]} #{result[:properties][:street]}" %></td>
              <td><%= result[:properties][:city] %></td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>
<% end %>
